.git
.gitignore
.gitattributes

.env
.env.*
!.env.example

bin/
tmp/

*.exe
*.test
*.prof
*.pprof
__debug_bin*

coverage.out
coverage.html
coverage/
*.coverprofile

Dockerfile
docker-compose.yml
docker-compose.test.yml

README.md